body {
    padding-top: 50px;
}

.topmargin {
    margin-top: 100px;
}

.panel-heading {
    font-size: 14pt;
    font-weight: bold;
}

.game-well {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.dropinline {
    display: inline;
}

.center {
    text-align: center;
}

.jumbotron {
    padding: 20px;
}

#output {
    overflow-wrap: break-word;
}
